.textInput {
  width: 100%;  
}

.button {  
  background-color: rgb(17, 117, 25);
  border-color: rgb(17, 117, 25);
  width: fit-content;
  color: #fff;
}

.button:hover {  
  background-color: rgb(45, 153, 54);
  border-color: rgb(17, 117, 25);  
}

.image {
  width: 50%;  
  height: 50%;     
  margin-left: 25%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form {
  width: 100%;    
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form div {
  width: 100%;
}

@media (max-width: 300px) {
  .image {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 300px) {
  .textInput {
    width: 100%;    
  }

  .form {
    align-self: center;    
    width: 80%;    
    margin: 10px auto;
  }

  .button {
    width: 100%;
  }
} 

/* .formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
} */