.searchBar  {
  text-align: start;
  margin-top: 20px;  
  margin-bottom: 20px;
}


@media (min-width: 300px) {
  .searchBar {
    width: 80%;            
    align-self: center
  }
}

.list {
 
  height: calc(100vh - 210px)
}